:root {
  --color-blue-50: #85bcef;
  --color-blue-100: #6aadec;
  --color-blue-200: #4f9fe8;
  --color-blue-300: #3390e5;
  --color-blue-400: #1d81dd;
  --color-blue-500: #1971c2;
  --color-blue-600: #1661a7;
  --color-blue-700: #12518c;
  --color-blue-800: #0f4271;
  --color-blue-900: #0b3256;
  --color-blue-base: #1971c2;
  --color-malachite-50: #85efa5;
  --color-malachite-100: #6aec91;
  --color-malachite-200: #4fe87d;
  --color-malachite-300: #33e569;
  --color-malachite-400: #1ddd57;
  --color-malachite-500: #19c24c;
  --color-malachite-600: #16a741;
  --color-malachite-700: #128c37;
  --color-malachite-800: #0f712c;
  --color-malachite-900: #0b5622;
  --color-malachite-base: #19c24c;
  --color-thunderbird-50: #ef9685;
  --color-thunderbird-100: #ec7e6a;
  --color-thunderbird-200: #e8674f;
  --color-thunderbird-300: #e55033;
  --color-thunderbird-400: #dd3b1d;
  --color-thunderbird-500: #c23419;
  --color-thunderbird-600: #a72d16;
  --color-thunderbird-700: #8c2512;
  --color-thunderbird-800: #711e0f;
  --color-thunderbird-900: #56170b;
  --color-thunderbird-base: #c23419;
  --color-violet-eggplant-50: #ef85ed;
  --color-violet-eggplant-100: #ec6ae9;
  --color-violet-eggplant-200: #e84fe6;
  --color-violet-eggplant-300: #e533e2;
  --color-violet-eggplant-400: #dd1dda;
  --color-violet-eggplant-500: #c219bf;
  --color-violet-eggplant-600: #a716a4;
  --color-violet-eggplant-700: #8c128a;
  --color-violet-eggplant-800: #710f6f;
  --color-violet-eggplant-900: #560b54;
  --color-violet-eggplant-base: #c219bf;
  --font-size-sm: 1rem;
  --font-size-md: 1.2rem;
  --font-size-lg: 1.4rem;
  --font-weight-light: 200;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --line-height-short: 1;
  --line-height-normal: 1.5;
  --line-height-tall: 2;
  --box-shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --box-shadow-md: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --box-shadow-lg: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --box-shadow-dark-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}