@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

body {
  font-family: "Inter", sans-serif;
  font-feature-settings: "ss01", "ss03" 0, "cv11" 0;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Inter-Regular.woff2") format("woff2"),
    url("/fonts/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-feature-settings: "salt" 1, "ss03" 1;
  src: url("/fonts/Inter-Var.woff2") format("woff2"),
    url("/fonts/Inter-Var.woff") format("woff");
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

.leaflet-control-attribution.leaflet-control {
  display: none;
}

.leaflet-marker-icon {
  width: 25px !important;
  height: 41px !important;
}

.leaflet-marker-shadow {
  width: 41px !important;
  height: 41px !important;
}

.highlight-class {
  background-color: #ff0;
  /* Choose your color */
  border: 2px solid #f00;
  /* Border to make it stand out */
  transform: scale(1.05);
  /* Slightly increase the size */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  /* Add a shadow */
}